<div class="footer container">
    <div class="row">
      <div class="col-lg-4">
        <p>© Whask, Inc 2014</p>
      </div>
      <div "col-lg-8 text-center">
        <a class = "footer-link" href="/privacy"> Privacy </a>
        <a class = "footer-link" href="/terms"> Terms </a>
        <a class = "footer-link" href="/jobs"> Jobs </a>
      </div>
    </div>
</div>
