 <div class="container">

  <div class="row main-content">
    <div class="col-md-6 text-center">
      <img src="https://media.licdn.com/media/p/3/005/00f/0da/0203bf2.jpg" alt="fizzer guys" class="img-circle circle">
    </div>

    <div class="col-md-6 text-center">
      <img src="https://media.licdn.com/media/p/3/005/0a0/2e8/3c54f14.jpg" alt="fizzer guys" class="img-circle circle">
    </div>


  </div>
