 <div class="container">

   <div class="row main-content-about">
    <div class="col-lg-6 text-justify">
      <h2>What is WHASK ?</h2>
      <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus evenie </h4>
    </div>

    <div class="col-lg-6 text-center">
       <%=image_tag("whask iphone template.jpg", alt: "WHASK iPhone", style: "height: 350px")%>
    </div>
  </div>

  <div class="row main-content-about">
    <div class="col-lg-6 text-justify">
       <%=image_tag("whask iphone template.jpg", alt: "WHASK iPhone", style: "height: 350px")%>
    </div>

    <div class="col-lg-6 text-justify">
       <h2>What is WHASK ?</h2>
      <h4> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus evenie</h4>
    </div>
  </div>


  <div class="row main-content-founders">

    <div class="col-md-6 text-center">
      <img src="https://media.licdn.com/media/p/3/005/00f/0da/0203bf2.jpg" alt="fizzer guys" class="img-circle circle">
      <h3>Eddy</h3>
    </div>

    <div class="col-md-6 text-center">
      <img src="https://media.licdn.com/media/p/3/005/0a0/2e8/3c54f14.jpg" alt="fizzer guys" class="img-circle circle">
      <h3>Nico</h3>

  </div>


</div>
