@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";

body {
  background-color: #00C1CB;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.img-circle {
  width: auto;
  height: 300px;
  margin-top: 110px;
  margin-bottom: 110px;
  border: 10px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px lightgrey;
}

.main-content {
  margin-top: 100px;
  margin-bottom: 40px;
}

.main-content-thanks {
  margin-top: 230px;
  margin-bottom: 70px;
}

.main-content-contact {
  margin-top: 150px;
  margin-bottom: 120px;
}


.field {
  margin-top: 30px;
  margin-bottom: 10px;
}

.enter-email {
  border-radius: 5px;
}


.btn-default {
  border: none;
  background: rgba(253, 96, 46, 1.0);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 10px;
}
.btn-default:hover {
  background: rgba(253, 96, 46, 0.9);
  color: white;
}

.fa-smile-o {
  font-size: 100px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.footer-link {
  color: white;
  margin-right: 20px;
}

.footer-link:hover {
  color: #EEE;
  text-decoration: none;
}

.signup-form input[type=text] {
  color: #666;
  padding: 6px;
}

.signup-form {
  padding-top: 140px;
}

.social-buttons {
  margin-top: 30px;
  margin-bottom: 90px;
}

.twitter-share-button {
  vertical-align: text-bottom !important;
  margin-left: 15px;
}
