@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "navbar";

body {
  background-color: #00C1CB;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.main-content {
  margin-top: 90px;
  margin-bottom: 50px;
}

.field {
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn-default {
  border: none;
  background: rgba(211, 84, 0,1.0);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
}
.btn-default:hover {
  background: rgba(211, 84, 0,0.9);
  color: white;
}

.footer {
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}

.footer-link {
  color: white;
  margin-right: 20px;
}

.footer-link:hover {
  color: #EEE;
  text-decoration: none;
}

.signup-form input[type=text] {
  color: #666;
  padding: 6px;
}

.signup-form {
  padding-top: 140px;
}
